
.account-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    margin-top: 1em;
    width: 50%;
    height: 100%;
}

.account-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.account-column-left {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.account-profile-image {
    width: 12em;
    border-radius: 50%;
}

.account-edit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5em;
    width: 6em;
    height: 1.8em;
    font-size: 1.2em;
    border: 2px orange solid;
    border-radius: 30px;
}

.account-edit-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.account-edit-button-text {
    font-size: 0.9em;
}

.account-column-right {
    flex: 3;
    padding-top: 1em;
    height: fit-content;
}

.account-name {
    width: 100%;
    border-bottom: 2px #ffedcc solid;
}

.account-name-text {
    font-size: 2em;
}

.account-info {
    margin-top: 0.5em;
}

.account-info-text {
    margin-top: 0.1em;
    font-size: 0.9em;
    color: gray;
}

.account-activity {
    margin-top: 1.5em;
    width: 100%;
}

.account-activity-text {
    float: left;
    width: 100%;
    font-size: 1.5em;
    border-bottom: 2px #ffedcc solid;
}

.account-review-list {
    margin-top: 2em;
}

.account-review-list-element {
    border-bottom: 1px lightgray solid;
}
