
.bookshelf-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    width: 90%;
    border-radius: 0.5em;
    box-shadow: 1px 1px 13px 2px rgba(0, 24, 64, 0.12);
}

.bookshelf-card:hover {
    transition: 0.2s;
    box-shadow: 2px 2px 23px 5px rgba(0, 24, 64, 0.12);
}

.bookshelf-card-margin {
    width: 100%;
    margin: 1em;
}

.bookshelf-cover-image {
    float: left;
    width: 5em;
}

.bookshelf-card-info-details {
    float: left;
    margin: 1em;
}

.bookshelf-card-title-link {
    text-decoration: none;
}

.bookshelf-card-title-text {
    overflow: visible;
    white-space: break-spaces;
    width: 18em;
    font-size: 1.1em;
    font-family: 'Arial';
    color: black;
}

.bookshelf-card-title-text:hover {
    text-decoration: underline;
}

.bookshelf-card-author-text {
    margin-top: 0.3em;
    font-size: 0.9em;
    font-family: 'Arial';
}

.bookshelf-card-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 1em;
}

.bookshelf-community-rating {
    float: right;
    margin-right: 2em;
}

.bookshelf-card-rating-text {
    margin-top: 1em;
}

.bookshelf-card-extras {
    position: relative;
    float: right;
    min-width: 8em;
    min-height: 7em;
    height: 100%;
}

.bookshelf-card-delete-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    border-radius: 20%;
}

.bookshelf-card-delete-button:hover {
    transition: 0.1s;
    background-color: red;
}

.bookshelf-card-delete-image {
    width: 1.3em;
}

.bookshelf-card-add-date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7em;
    color: gray;
}