
.bookshelf-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    width: 90%;
    border-radius: 0.5em;
    box-shadow: 1px 1px 15px 2px rgba(0, 24, 64, 0.12);
}

.bookshelf-card-margin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
    width: 100%;
    height: 100%;
}

.bookshelf-cover-image {
    width: 5em;
}

.bookshelf-card-info-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em;
    width: 20em;
    background-color: red;
}

.bookshelf-card-title-text {
    overflow: visible;
    white-space:break-spaces;
    width: 100%;
    font-size: 1.1em;
    font-family: 'Arial';
}

.bookshelf-card-author-text {
    margin-top: 0.3em;
    font-size: 0.9em;
    font-family: 'Arial';
}

.bookshelf-card-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    background-color: red;
}

.bookshelf-card-rating-text {
    margin-top: 1em;
}

.bookshelf-card-extras {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 7em;
    background-color: yellow;
}

.bookshelf-card-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: red;
}

.bookshelf-card-delete-image {
    width: 1.3em;
}

.bookshelf-card-add-date {

}