
.discover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1em;
    width: 75%;
    height: 100%;
}

.discover-column-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
}

.discover-filter {
    width: 100%;
    border-bottom: 2px #ffedcc solid;
}

.discover-filter-text {
    margin-top: 1em;
    font-size: 1.3em;
}

.discover-filter-options {
    margin-top: 0.5em;
}

.discover-filter-options-text {
    margin-top: 0.1em;
    margin-left: 0.4em;
}

.discover-filter-options-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.discover-filter-blocks-space {
    display: inline-block;
    overflow: visible;
    white-space: break-spaces;
    margin-top: 2em;
}

.discover-filter-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0.3em;
    margin: 0.3em;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background-color: #ffd280;
}

.discover-filter-block-image {
    transform: rotate(45deg);
    float: left;
    margin-right: 0.2em;
    width: 1em;
}

.discover-filter-block-text {
    font-size: 0.9em;
}

.discover-column-right {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.discover-title {
    margin-left: 1em;
    font-size: 1.6em;
}

.discover-results-pagination {
    margin-top: 1em;
    margin-left: 1.3em;
}

.discover-results {
    margin-top: 0.8em;
    width: 100%;
}
