
.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    margin-top: 1em;
    width: 50%;
    height: 100%;
}

.edit-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.edit-column-left {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.edit-profile-image {
    width: 12em;
    border-radius: 50%;
}

.edit-edit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5em;
    width: 6em;
    height: 1.8em;
    font-size: 1.2em;
    border: 2px orange solid;
    border-radius: 30px;
}

.edit-edit-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.edit-edit-link {
    text-decoration: none;
}

.edit-profile-button-text {
    margin-top: 0.5em;
}

.edit-profile-button-text:hover {
    text-decoration: underline;
    color: orange;
}

.edit-column-right {
    flex: 3;
    padding-top: 1em;
    height: fit-content;
}

.edit-title {
    width: 100%;
    border-bottom: 2px #ffedcc solid;
}

.edit-title-text {
    font-size: 2em;
}

.edit-content-section {
    margin-top: 1em;
}

.edit-content {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}

.edit-content-text {
    margin-top: 0.1em;
    margin-right: 1em;
    font-family: 'Arial';
    font-size: 1.2em;
}

.edit-content-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: fit-content;
    height: 1.5em;
    font-size: 0.9em;
    border: 2px orange solid;
    border-radius: 6px;
}

.edit-content-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.edit-content-button-text {
    
}

.edit-logic {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}

.edit-logic-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    right: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: fit-content;
    height: 2em;
    font-size: 0.9em;
    border: 2px orange solid;
    border-radius: 6px;
}

.edit-close-button {
    margin-right: 4.3em;
    border: 2px gray solid;
    color: black;
}

.edit-close-button:hover {
    border: 2px red solid;
    background-color: lightsalmon;
}

.edit-logic-text {
    font-size: 1.2em;
}

.edit-save-button {

}

.edit-save-button:hover {
    border: 2px green solid;
    background-color: lightgreen;
}

.edit-save-text {

}
