
.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    margin-top: 1em;
    width: 50%;
    height: 100%;
}

.edit-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.edit-column-left {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.edit-profile-image {
    width: 12em;
    border-radius: 50%;
}

.edit-profile-button-text {
    cursor: pointer;
    margin-top: 0.5em;
}

.edit-profile-button-text:hover {
    text-decoration: underline;
    color: orange;
}

.edit-dialog-profile-photo-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.edit-dialog-profile-photo {
    padding: 1em;
    width: 10em;
    border-radius: 50%;
}

.edit-column-right {
    flex: 3;
    padding-top: 1em;
    height: fit-content;
}

.edit-title {
    width: 100%;
    border-bottom: 2px #ffedcc solid;
}

.edit-title-text {
    font-size: 2em;
}

.edit-content-section {
    margin-top: 1em;
}

.edit-content {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}

.edit-content-text {
    margin-top: 0.1em;
    margin-right: 1em;
    font-family: 'Arial';
    font-size: 1.2em;
}

.edit-content-button {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: fit-content;
    height: 1.5em;
    font-size: 0.9em;
    border: 2px orange solid;
    border-radius: 6px;
}

.edit-content-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.edit-content-button-text {
    
}

.edit-dialog-button {
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: fit-content;
    height: fit-content;
    font-size: 0.9em;
    border: 2px orange solid;
    border-radius: 6px;
}

.edit-dialog-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.edit-dialog-cancel-button {
    border: 2px gray solid;
    color: black;
}

.edit-dialog-cancel-button:hover {
    border: 2px red solid;
    background-color: lightsalmon;
}

.edit-dialog-update-button:hover {
    border: 2px green solid;
    background-color: lightgreen;
}

.edit-back {
    position: relative;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}

.edit-back-link {
    color: black;
}

.edit-back-button {
    position: absolute;
    display: flex;
    text-align: center;
    float: right;
    right: 0;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-top: 1em;
    height: 2em;
    text-decoration: none;
    font-size: 1.1em;
}

.edit-back-button:hover {
    text-decoration: underline;
    color: orange;
}
