
* {
    padding: 0;
    margin: 0;
}

.home-container {
    margin: auto;
    width: 100%;
    font-size: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}
