
* {
    padding: 0;
    margin: 0;
}

.nav-bar-container {
    z-index: 1;
    position: relative;
    top: 0;
    margin: auto;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    min-height: 70px;
    background-color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    width: fit-content;
    height: fit-content;
    font-size: 1.4em;
    border-radius: 5%;
    color: white;
    background-color: black;
}

.nav-link:hover {
    color: black;
    background-color: white;
}

.nav-text {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    line-height: 1.1;
    font-size: 1em;
    color: white;
}

.nav-text:hover {
    color: black;
}
