
.bookshelf-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1em;
    width: 75%;
    height: 100%;
}

.bookshelf-column-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
}

.bookshelf-my-lists {
    width: 100%;
    border-bottom: 2px #ffedcc solid;
}

.bookshelf-my-lists-text {
    margin-top: 1em;
    font-size: 1.3em;
}

.bookshelf-my-lists-list {
    margin-top: 0.5em;
}

.bookshelf-my-lists-list-text {
    margin-top: 0.1em;
    margin-left: 0.4em;
}

.bookshelf-my-lists-list-text:hover {
    text-decoration: underline;
}

.bookshelf-create-list-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
    font-size: 1em;
    border: 2px orange solid;
    border-radius: 30px;
    color: black;
    background-color: white;
}

.bookshelf-create-list-button:hover {
    transition: 0.2s;
    background-color: #ffedcc;
}

.bookshelf-create-list-text {
    padding-top: 0.3em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.6em;
}

.bookshelf-create-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.1em;
}

.bookshelf-create-list-input {
    padding: 1px;
    outline: none;
    margin-right: 0.5em;
    width: 10em;
    text-indent: 0.4em;
    font-size: 1em;
    font-family: 'Arial';
    border: 1px orange solid;
    border-radius: 2px;
    color: black;
}

.bookshelf-create-list-input::placeholder {
    opacity: 0.7;
}

.bookshelf-create-list-input:focus {
    padding: 1px;
    outline: none;
    border: 1px orange solid;
    border-radius: 2px;
    box-shadow: 0 0 2px  rgba(0,0,0,.5);
}

.bookshelf-create-list-image {
    float: right;
    width: 1.1em;
    cursor: pointer;
}

.bookshelf-create-list-image-rotate {
    transform: rotate(45deg);
    float: right;
    margin-right: 0.5em;
    width: 1.3em;
}

.bookshelf-column-right {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bookshelf-column-right-top {
    position: relative;
    width: 100%;
    height: 2em;
}

.bookshelf-list-title {
    position: absolute;
    float: left;
    margin-left: 1em;
    font-size: 1.6em;
}

.bookshelf-delete-list {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 0.5em;
    padding-bottom: 0.25em;
}

.bookshelf-delete-list-text {
    margin-right: 0.5em;
}

.bookshelf-delete-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    border-radius: 20%;
}

.bookshelf-delete-list-button:hover {
    transition: 0.1s;
    background-color: red;
}

.bookshelf-delete-list-image {
    width: 1.3em;
}

.bookshelf-list-pagination {
    margin-top: 1em;
    margin-left: 1.3em;
}

.bookshelf-list {
    margin-top: 0.8em;
    width: 100%;
}
