
.bookshelf-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1em;
    width: 75%;
    height: 100%;
}

.bookshelf-column-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
}

.bookshelf-my-lists {
    width: 100%;
    border-bottom: 1px black solid;
}

.bookshelf-my-lists-text {
    margin-top: 1em;
    font-size: 1.3em;
}

.bookshelf-my-lists-list {
    margin-top: 0.5em;
}

.bookshelf-my-lists-list-text {
    margin-top: 0.1em;
    margin-left: 0.4em;
}

.bookshelf-my-lists-list-text:hover {
    text-decoration: underline;
}

.bookshelf-column-right {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bookshelf-list-title {
    margin-left: 1em;
    font-size: 1.6em;
}

.bookshelf-list {
    width: 100%;
}
