
* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Verdana';
}

.search-div {
    width: 100%;
    display: inline-block;
}

.search-box {
    min-width: fit-content;
    width: 100%;
    height: 1.8em;
    text-indent: 0.4em;
    font-family: 'Arial';
    font-size: 1.0em;
}

.search-box::placeholder {
    opacity: 0.7;
}

.search-box:hover {
    padding: 1px;
    outline: none;
    border: 1px orange solid;
    border-radius: 2px;
    box-shadow: 0 0 2px  rgba(0,0,0,.5);
}

.search-box:focus {
    padding: 1px;
    outline: none;
    border: 1px orange solid;
    border-radius: 2px;
    box-shadow: 0 0 2px  rgba(0,0,0,.5);
}

.search-button {
    
}

.search-results-div {
    position: absolute;
}

.search-result {
    padding-left: 10px;
    margin: 3px;
    width: 20rem;
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
}

.search-result-text {
    font-family: 'Arial';
}
