
* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Verdana';
}

.search-div {
    width: 100%;
    display: inline-block;
}

.search-box {
    min-width: fit-content;
    width: 100%;
    height: 1.8em;
    text-indent: 0.4em;
    font-family: 'Arial';
    font-size: 1.0em;
}

.search-box::placeholder {
    opacity: 0.7;
}

.search-box:hover {
    padding: 1px;
    outline: none;
    border: 1px orange solid;
    border-radius: 2px;
    box-shadow: 0 0 2px  rgba(0,0,0,.5);
}

.search-box:focus {
    padding: 1px;
    outline: none;
    border: 1px orange solid;
    border-radius: 2px;
    box-shadow: 0 0 2px  rgba(0,0,0,.5);
}

.search-button {
    
}

.search-results-link {
    text-decoration: none;
}

.search-results-box-outer {
    position: absolute;
    width: 21em;
    max-height: 32em;
    overflow: scroll;
}

.search-results-box-outer:has(.search-result) {
    border: 1px black solid;
    border-radius: 2px;
}

.search-results-box-outer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;
    padding-left: 10px;
    min-width: fit-content;
    width: 97.1%;
    height: 3em;
    text-align: left;
    font-size: 1em;
    border-bottom: 1px black solid;
    color: black;
    background-color: white;
}

.search-result-text {
    width: 20em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-family: 'Arial';
}

.search-result-text:hover {
    overflow: visible;
}

.search-result-title {

}

.search-result-author {
    font-size: 0.8em;
}
